{% extends 'raspisaniya/base.html' %}
{% load widget_tweaks %}
{% block content %}

<h2 class="mb-4">➕ O‘quvchi qo‘shish / tahrirlash</h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
                <div class="text-danger small">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Saqlash</button>
    <a href="{% url 'student_list' %}" class="btn btn-secondary">Ortga</a>
</form>

{% endblock %}
