body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.table th {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.btn {
    min-width: 150px;
}
